<link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
body {
	background-color: #E7E3E8;
}
h1 {
	
	font-family: 'Crafty Girls', cursive;
}
.fieldset {
	width: 30rem;
	height: 45rem;
	margin: auto;
}
#author {
	color: #DE9247;
}

legend {
	font-family: arial;
}

legend:hover {
	background-color: yellow;

}
label {
	font-family: arial;
}
span {
	font-family: arial;
}